@(form: Form[org.iatoki.judgels.jophiel.UserUpsertForm])(implicit fieldConstructor: b3.B3FieldConstructor)

@import play.i18n.Messages

@helper.CSRF.formField

@b3.text(form("username"), '_label -> Messages.get("user.field.username"))
@b3.text(form("name"), '_label -> Messages.get("user.field.name"))
@b3.email(form("email"), '_label -> Messages.get("user.field.email"))
@b3.password(form("password"), '_label -> Messages.get("user.field.password"))
@b3.password(form("confirmPassword"), '_label -> Messages.get("user.field.confirmPassword"))

