@(hash: String, client: org.iatoki.judgels.jophiel.Client, scopes: java.util.List[String])

@import play.i18n.Messages

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-xs-4", "col-xs-8") }

<div class="col-xs-6 col-xs-offset-3">
    <h2>Authorize @client.getName</h2>

    @b3.form(org.iatoki.judgels.jophiel.controllers.routes.OpenIdConnectController.postAuthRequest(hash)) {

        @helper.CSRF.formField

        @for(scope <- scopes) {
            @b3.static("") {@scope}
        }

        @b3.submit('class -> "btn btn-primary") { @Messages.get("general.authorize") }
    }
</div>
