@(hash: String, client: org.iatoki.judgels.jophiel.Client, scopes: java.util.List[String])

@import play.i18n.Messages

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }

<div class="row">
    <div class="col-md-12 primary-content-breadcrumb">
        <ol class="breadcrumb">

        </ol>
    </div>
</div>

<div class="row login-content">
    <div class="col-md-6 col-md-offset-4">
        <h2>@Messages.get("auth.authorization")</h2>
        <p>@Messages.get("auth.wantToAuthorize")  @client.getName @Messages.get("auth.inTheseScopes")?</p>
        @b3.form(org.iatoki.judgels.jophiel.controllers.routes.OpenIdConnectController.postAuthRequest(hash)) {

            @helper.CSRF.formField

            @for(scope <- scopes) {
                @b3.static(Messages.get("client.scopes")) {@scope}
            }

            @b3.submit('class -> "btn btn-primary") { @Messages.get("auth.authorize") }
        }
    </div>
</div>