@(form: Form[org.iatoki.judgels.jophiel.ChangePasswordForm], code: String)

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.formErrorView

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }

<div class="row login-content">
    <div class="col-md-12">
        <h2>@Messages.get("forgotPassword.changePassword")</h2>

        @formErrorView(form)

        @b3.form(org.iatoki.judgels.jophiel.controllers.routes.UserAccountController.postChangePassword(code)) {

            @helper.CSRF.formField

            @b3.password(form("password"), '_label -> Messages.get("user.password"))
            @b3.password(form("confirmPassword"), '_label -> Messages.get("user.confirmPassword"))

            @b3.submit('class -> "btn btn-primary") { @Messages.get("forgotPassword.changePassword") }
        }
    </div>
</div>