@(form: Form[org.iatoki.judgels.jophiel.ForgotPasswordForm])

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.formErrorView

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-4", "col-md-8") }

<div class="row login-content">
    <div class="col-md-12">
        <h2>@Messages.get("forgotPassword.forgotPassword")</h2>

        @formErrorView(form)

        @b3.form(org.iatoki.judgels.jophiel.controllers.routes.UserAccountController.postForgotPassword()) {

            @helper.CSRF.formField

            @b3.text(form("username"), '_label -> Messages.get("user.username"))
            @b3.email(form("email"), '_label -> Messages.get("user.email"))

            @b3.submit('class -> "btn btn-primary") { @Messages.get("forgotPassword.forgotPassword") }
        }
    </div>
</div>