@(currentPage: org.iatoki.judgels.commons.Page[org.iatoki.judgels.jophiel.Client], currentSortBy: String, currentOrder: String, currentFilter: String)

@import play.i18n.Messages
@import org.iatoki.judgels.commons.views.html.pagination.tablePagination
@import org.iatoki.judgels.commons.views.html.pagination.tableHeader
@import org.iatoki.judgels.commons.views.html.pagination.link

@shortLink(newPage: scala.Long, newSortBy: String) = {@link(currentSortBy, true, currentOrder, currentFilter, newPage, newSortBy, org.iatoki.judgels.jophiel.controllers.routes.ClientController.list)}

<form class="form form-inline pull-right" action='@org.iatoki.judgels.jophiel.controllers.routes.ClientController.list(currentPage.getPageIndex, "", "", "")' method="GET">
    <input type="hidden" name="orderBy" value="@currentOrder"/>
    <input type="hidden" name="sortBy" value="@currentSortBy"/>
    <div class="form-group">
        <input type="search" class="form-control" name="filterString" value="@currentFilter">
    </div>
    <button type="submit" class="btn btn-primary">@Messages.get("commons.search")</button>
</form>

<div class="clearfix"></div>

<div class="table-responsive">
    <table class="table table-hover table-condensed table-bordered">
        <tr>
            @tableHeader("id", Messages.get("commons.field.id"), currentSortBy, currentOrder, shortLink(currentPage.getPageIndex(), "id"))
            @tableHeader("jid", Messages.get("commons.field.jid"), currentSortBy, currentOrder, shortLink(currentPage.getPageIndex(), "jid"))
            @tableHeader("name", Messages.get("client.field.name"), currentSortBy, currentOrder, shortLink(currentPage.getPageIndex(), "name"))
            @tableHeader("applicationType", Messages.get("client.field.applicationType"), currentSortBy, currentOrder, shortLink(currentPage.getPageIndex(), "applicationType"))
            <th></th>
        </tr>
        @for(page <- currentPage.getList()) {
            <tr>
                <td>@page.getId</td>
                <td>@page.getJid</td>
                <td>@page.getName</td>
                <td>@page.getApplicationType</td>
                <td class="text-center">
                    <a href="@org.iatoki.judgels.jophiel.controllers.routes.ClientController.view(page.getId)"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="@org.iatoki.judgels.jophiel.controllers.routes.ClientController.update(page.getId)"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="@org.iatoki.judgels.jophiel.controllers.routes.ClientController.delete(page.getId)" onclick="confirmLink ( event, this.href )"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        }
    </table>
</div>

@tablePagination(currentPage, currentSortBy, currentOrder, currentFilter, org.iatoki.judgels.jophiel.controllers.routes.ClientController.list)