@(form: Form[org.iatoki.judgels.jophiel.ClientUpdateForm], modelId: Long)

@import play.i18n.Messages
@import org.iatoki.judgels.jophiel.Scope
@import org.iatoki.judgels.commons.views.html.formErrorView

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@formErrorView(form)

@b3.form(org.iatoki.judgels.jophiel.controllers.routes.ClientController.postUpdate(modelId)) {

    @helper.CSRF.formField

    @b3.text(form("name"), '_label -> Messages.get("client.name"))
    @b3.text(form("redirectURIs"), '_label -> Messages.get("client.redirectURIs"))
    <div class="form-group" id="">
        <label class="control-label col-xs-2">@Messages.get("client.scopes")</label>
        <div class="col-xs-10">
            <div class="multi-checkbox-list">
            @for(scope <- Scope.values().zipWithIndex) {
                <div class="checkbox-wrap">
                    <div class="checkbox">
                        <label for="scopes_@scope._2">
                            <input type="checkbox" id="scopes_@scope._2" name="scopes[@scope._2]" value="@scope._1" @if(!form.hasErrors && form.get.scopes != null && form.get.scopes.contains(scope._1.toString)) { checked }>
                            @scope._1
                        </label>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.update") }
}
